gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java

# Android/Flutter build outputs
**/build/
android/app/build/
android/app/build/outputs/
android/app/build/outputs/bundle/
*.aab

# Remember to never publicly share your keystore.
# See https://flutter.dev/to/reference-keystore
key.properties
**/*.keystore
**/*.jks
